<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codelite.kr4k3rz.samachar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailFeed"
            android:label="@string/title_activity_detail_feed"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codelite.kr4k3rz.samachar.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codelite.kr4k3rz.samachar.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EditCategory"
            android:parentActivityName=".activity.SettingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codelite.kr4k3rz.samachar.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".worker.MyIntentService" />

        <receiver android:name=".worker.MyAlarmReceiver" />
        <receiver android:name=".worker.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />
    </application>


</manifest>